doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' href='/images/icon.png')
  body
    block header
      img.headerImage(src="images/icon.png" alt="Campus Sur Radio")
    block content