body {
  background-color: floralwhite;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

.headerImage {
  align-self: center;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.headerImage {
  padding-bottom: 50px;
}

.adminButton {
  text-align: center;
}

.uploadContainer {
  display: block;
  align-self: center;
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.uploadContainer input {
  padding: 10px;
}
.uploadContainer h2 {
  padding: 10px;
}
.uploadContainer button {
  margin: 10px;
}